*/config/development
*/logs/log-*.php
*/logs/!index.html
*/cache/*
*/cache/!index.html
*/cache/!.htaccess
*/application/config/config.php
*/application/config/database.php
*/application/views/bienestarsocial/inc/pie.php
*public/doc/reembolso/*
